/* Main stuff */

html {
    font-family: 'Inter', sans-serif;
    color: white;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    background-color: rgb(20, 20, 20);
    position: relative;
}

/* Main page */
.main-page {
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    grid-template-areas:
        'header'
        'main-content'
        'footer';

    /* fallback height */
    min-height: 100vh;

    /* new small viewport height for modern browsers */
    min-height: 100svh;
    background-color: rgb(20, 20, 20);
}

/* general column padding */
.main-page > * {
    padding: 1rem;
}

/* assign columns to grid areas */
.main-page > .header {
    grid-area: header;
    background: rgba(255, 255, 255, 0.05);
}
.main-page > .main-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-area: main-content;
}
.main-page > .footer {
    grid-area: footer;
    background: rgba(255, 255, 255, 0.05);
    color: rgba(0,0,0,0);
}

.main-page > .main-content > div,
.control-panel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* tablet breakpoint */
@media (min-width: 1200px) {
    .main-page > .main-content {
        grid-template-columns: 1fr 1fr;
    }
}

/* left sidebar 2-column layout */
/* grid container */
.lobby {
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    grid-template-areas:
        'header'
        'main-content'
        'left-sidebar'
        'footer';

    /* fallback height */
    min-height: 100vh;

    /* new small viewport height for modern browsers */
    min-height: 100svh;
    background-color: rgb(20, 20, 20);
}

/* general column padding */
.lobby > * {
    padding: 1rem;
}

/* assign columns to grid areas */
.lobby > .header {
    grid-area: header;
    background: rgba(255, 255, 255, 0.05);
}
.lobby > .main-content {
    grid-area: main-content;
}
.lobby > .left-sidebar {
    grid-area: left-sidebar;
    background: rgba(255, 255, 255, 0.1);
}
.lobby > .footer {
    grid-area: footer;
    background: rgba(255, 255, 255, 0.05);
    color: rgba(0,0,0,0);
}

/* tablet breakpoint */
@media (orientation: landscape) {
    .lobby {
        grid-template-columns: min(400px, 30vw) 1fr 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            'header header header'
            'left-sidebar main-content main-content'
            'footer footer footer';
    }
}

/* Product container */

/* container */
.product-container {
    display: block;
}

/* columns */
.product-container > * {
    padding: 1rem;
}

.product-container-image {
    display: flex;
    justify-content: center;
}

/* tablet breakpoint */
@media (orientation: landscape) {
    .product-container {
        display: grid;
        grid-template-columns: 400px 1fr;
    }
}

button,
input {
    background-color: #2a2a40;
    border: 1px solid #444;
    color: #fff;
    padding: 10px 16px;
    border-radius: 8px;
    margin: 10px;
    outline: none;
    transition: background-color 0.2s ease;
}

label, input, button {
    font-size: clamp(1rem, 3vh, 60px);
    
}

h1 {
    font-size: clamp(1rem, 4vh, 80px);
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button:hover,
input[type='number']:hover {
    background-color: #3a3a55;
}

input[type='number'] {
    width: 150px;
    text-align: right;
}


p {
    margin: 5px 0;
    font-size: 18px;
}

#productContainer img {
    width: 100%; /* Makes it responsive */
    max-width: 400px; /* Cap the size at 400px */
    height: auto; /* Maintain aspect ratio */
    border-radius: 12px;
    box-shadow: 0 0 10px #00000088;
}

table {
    width: 100%;
    table-layout: fixed;
}

th,td,p{
    font-size: clamp(1rem, 3vh, 50px);
}

h2 {
    font-size: clamp(1rem, 3vh, 50px);
}

th,
td {
    padding: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
th {
    text-align: left;
}

.player-table th:nth-child(1),
.player-table td:nth-child(1) {
    width: 1fr;
}

.player-table th:nth-child(2),
.player-table td:nth-child(2) {
    width: 35%;
    text-align: right;
}

.round-time-bar div {
    height: 15px;
    border-radius: 7px;
    background: linear-gradient(to bottom, green, #090);
    animation: roundtime calc(var(--duration) * 1ms) linear forwards;
  transform-origin: left center;
  }

  @keyframes roundtime {
    to {
      /* More performant than animating `width` */
      transform: scaleX(0);
    }
  }
